{% extends "calibration_units/base.html" %}

{% block title %}{{cu.cu_number}}{% endblock %}
{% block head %}
<style>
table.info {
    width : 800px;
    table-layout : fixed;
    border-collapse : collapse;
}
td {
    padding : 5px;
}
table, td, th {
    border : 1px solid white;
}
</style>
{% endblock %}

{% block content %}

<div class="row" align="left" style="padding-left:50px;">
    <h3>Calibration Unit Overview</h3>
    <div id="breakLine" style="height:2px;width:25%;background-color:#E74C3C"></div>
</div><br>

<table id="cuinfo" class="info" style="margin-left:50px; font-size:30px;">
    <col width="40%">
    <col width="60%">
    <tbody>
        <div id="accordion" class="collapse">
        <tr>
            <td>Assember:</td>
            <td>{{cu.assembler}}</td>
        <tr>
        <tr>
            <td>Date Assembled:</td>
            <td>{{cu.date}}</td>
        </tr>
        <tr>
            <td>Location:</td>
            <td>{{cu.place}}</td>
        </tr>
        <tr>
            <td>CU №:</td>
            <td>{{cu.cu_number}}</td>
        </tr>
        <tr>
            <td>CU Unique ID:</td>
            <td>{{cu.cu_uid}}</td>
        </tr>
            <td>QIE Card №:</td>
            <td><a href="{{ SITE_URL }}/cards/{{cu.qie_card}}">{{cu.qie_card}}</a></td>
        </tr>
        <tr>
            <td>QIE Adapter Card №:</td>
            <td>{{cu.qie_adapter}}</td>
        </tr>
        <tr>
            <td>Pulser Board №:</td>
            <td>{{cu.pulser_board}}</td>
        </tr>
        <tr>
            <td>Optics Box №:</td>
            <td>{{cu.optics_box}}</td>
        </tr>
        <tr>
            <td>Pin Diode LED 1:</td>
            <td>{{cu.pindiode_led1}}</td>
        </tr>
        <tr>
            <td>Pin Diode LED 2:</td>
            <td>{{cu.pindiode_led2}}</td>
        </tr>
        <tr>
            <td>Pin Diode Laser 1:</td>
            <td>{{cu.pindiode_laser1}}</td>
        </tr>
        <tr>
            <td>Pin Diode Laser 2:</td>
            <td>{{cu.pindiode_laser2}}</td>
        </tr>
        <tr>
            <td>Pin Diode Laser 3:</td>
            <td>{{cu.pindiode_laser3}}</td>
        </tr>
        <tr>
            <td>Pin Diode Laser 4:</td>
            <td>{{cu.pindiode_laser4}}</td>
        </tr>
        <tr>
            <td>SMA Connector Mounted:</td>
            <td>{{cu.sma_connector_mounted}}</td>
        </tr>
        <tr>
            <td>Quartz Fiber Connected:</td>
            <td>{{cu.quartz_fiber_connected}}</td>
        </tr>
        <tr>
            <td>Hirose Signal Connected:</td>
            <td>{{cu.hirose_signal_connected}}</td>
        </tr>
        <tr>
            <td>Reference Cable Connected:</td>
            <td>{{cu.reference_cable_connected}}</td>
        </tr>
        <tr>
            <td>Quality Control Complete:</td>
            <td>{{cu.qc_complete}}</td>
        </tr>
        </div>
    </tbody>
</table>

<div class="row" align="left" style="padding-left:50px;width: 100%">
    <h3>Comments:</h3>
    <div id="breakLine" style="height:2px;width:25%;background-color:#E74C3C;"></div>
    <p style="width:100%; white-space: pre-wrap;">{{cu.comments | default:"No comment given"}}</p>
</div>

<div class="row" align="left" style="padding-left:100px;width:50%">
    <form action="" method="post">
        {% csrf_token %}
        <h4>Add a Comment</h4>
        <textarea name="comment" rows="4" cols="20" class="form-control" placeholder="Comment..."></textarea>
        <input type="submit" class="btn btn-primary" value="Submit" name="comment_add">
    </form>
</div>

<div class="row" align="left" style="padding-left:50px;">
    <h3>Location History</h3>
    <div id="breakLine" style="height:2px;width:25%;background-color:#E74C3C"></div>
    <br>
</div>

<table id="culocations" class="table">
  <thead class="thead-default" style="color:#2C3E50;background-color:#ECF0F1">
    <tr>
      <th>Date</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    {% for location in locations %}
    <tr>
      <th scope="row">{{location.date_received | default:"No date recorded"}}</th>
      <td>{{location.geo_loc}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="row" align="left" style="padding-left:100px;width:50%">
    <form action="" method="post">
        {% csrf_token %}
        <h4>Add a Location</h4>
        <input name="location" type="text" class="form-control" placeholder="Location...">
        <input type="submit" class="btn btn-primary" value="Submit" name="location_add">
    </form>
</div>

<div class="row" align="left" style="padding-left:50px;">
    <h3>Uploaded File</h3>
    <div id="breakLine" style="height:2px;width:20%;background-color:#E74C3C"></div>
</div><br>
<a href="{{cu.upload.url}}"><img src="{{cu.upload.url}}" style="width:60%;height:60%;"></a>

{% endblock %}