{% extends "cm_db/base.html" %}

{% block title %}Error{% endblock %}

<style>
  .top-three {
      margin-bottom: 3cm;
  }
</style>

{% block content %}
<div class="row" align="left" style="padding-left:50px;">
    <h3>
        QIE Card Not Found
    </h3>
    <div id="breakLine" style="height:2px;width:25%;background-color:#E74C3C"></div>
    <h6>Please enter a Barcode (at least the last 3 unique digits of 7 in decimal).</h6>
    <h6>Please enter a Unique ID (at least the last 3 unique bytes of 6 bytes, 6 values in hex). Do not include final 0x70 family code.</h6>
    <h6>Example: QIE Barcode 0600543, Full Unique ID 70000000EA98AF70, MAC ID 00:00:00:EA:98:AF, Unique digits EA98AF (without family code 70).</h6>
</div><br>
{% endblock %}
