{% extends "cm_db/base.html" %}

{% block head %}
<style>
.splitColumns {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
}
</style>
{% endblock %}

{% block title %}Card Summary{% endblock %}

{% block summary %}class="active"{% endblock %}

{% block content %}
<div class="row" align="left" style="padding-left:50px;">
    <h3>Card Summaries</h3><br>
    <div id="breakLine" style="height:2px;width:25%;background-color:#E74C3C"></div>
</div>
<br>

<div class="row">
        <div class="col-md-12">
                <table class="table table-bordered table-responsive" align="center" style="width: 95%; font-size: 12px">
                <thead>
                        <tr>
                                <th style="background-color: #7F8C8D; font-size: 16px;"> S/N </th>
                                <th colspan="1" style="background-color: #7F8C8D; text-align: center; font-size: 16px;"> Tests Remaining </th>
                                <th colspan="1" style="background-color: #2ECC71; text-align: center; font-size: 16px;"> Tests Passed </th>
                                <th colspan="1" style="background-color: #E74C3C; text-align: center; font-size: 16px;"> Tests Failed </th>
                        </tr>
                </thead>
                <tbody>
                        {% if cards %}
                        {% for stats in cards %}
                        <tr style="background-color: #F6F6F6">
                                <td> <a href="{{stats.barcode}}/">{{stats.barcode}}</a></td>
                                <td><ul class="splitColumns">
                                        {% for test in stats.remaining %}
                                        <li> <a href="{{stats.barcode}}/{{test}}">{{test}}</a></li>
                                        {% endfor %}
                                </ul></td>
                                <td><ul class="splitColumns">
                                        {% for test in stats.passed %}
                                        <li> <a  href="{{stats.barcode}}/{{test}}">{{test}}</a></li>
                                        {% endfor %}
                                </ul></td>
                                <td><ul class="splitColumns">
                                        {% for test in stats.failed %}
                                        <li> <a  href="{{stats.barcode}}/{{test}}">{{test}}</a></li>
                                        {% endfor %}
                                </ul></td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <h1> No card database available </h1>
                        {% endif %}
                </tbody>
                </table>
        </div>
</div>
{% endblock %}