{% extends "sipm_cards/base.html" %}
{% load static %}
{% block head %}
    <link href="{% static "cm_db/css/catalog.css" %}" rel="stylesheet">
    <style>
        .divider{
            width:200px;
            height:auto;
            display:inline-block;
        }
    </style>
{% endblock %}

{% block title %}HE SiPM Control Cards Database{% endblock %}

{% block catalog %}class="active"{% endblock %}

{% block content %}
<div class="row" align="left" style="padding-left:50px;">
        <h3>
        SiPM Control Card Catalog
        <div class="divider"></div>
        Number SiPM Control Cards: {{total_count}}
    </h3>
    <div id="breakLine" style="height:2px;width:25%;background-color:#E74C3C"></div>
</div>
<br><br>

<div class="row" style="padding-left:50px;padding-right:50px">
    <div class="splitColumns">
      <ul>
{% if sipm_list %}
<div class="row">
        <div align="center"><ul>
        {% for module in sipm_list %}
        <li style="font-size:18px"><a href={{module.sipm_control_card}}>{{module.sipm_control_card}}</a></li>
        {%endfor%}
        </ul></div>
</div>
{% else %}
<h1>This database contains no SiPM control cards.</h1>
{% endif %}
{% endblock %}