{% extends "cm_db/base.html" %}
{% load static %}
{% block head %}
    <link href="{% static "cm_db/css/catalog.css" %}" rel="stylesheet">
    <style>
        .divider{
            width:200px;
            height:auto;
            display:inline-block;
        }
    </style>
{% endblock %}

{% block title %}HE CM Card Test Database{% endblock %}
{% block catalog %}class="active"{% endblock %}

{% block content %}
<div class="row" align="left" style="padding-left:50px;">
        <h3>
        CM Card Catalog
        <div class="divider"></div>
        Number of CM Cards: {{total_count}}
    </h3>
    <div id="breakLine" style="height:2px;width:50%;background-color:#E74C3C"></div>
</div>
<br><br>

<div class="row" style="padding-left:50px;padding-right:50px">
    <div class="splitColumns">
      <ul>
{% if barcode_list %}
<div class="row">
        <div align="center"><ul>
        {% for card in barcode_list %}
        <li style="font-size:18px"><a href="{{ card.barcode }}/"> {{ card.barcode }} - <span class="{{ card.status.css }}">{{ card.status.banner }}</span>
        </a></li>
        {%endfor%}
        </ul></div>
</div>
{% else %}
<h1>This database contains no CM cards.</h1>
{% endif %}
{% endblock %}