{% extends "cm_db/base.html" %}
{% load static %}

{% block head %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{% static "cm_db/js/makeplot.js" %}"></script>
<style>
.splitColumns {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
}
</style>
{% endblock %}

{% block title %}Database Plots{% endblock %}
{% block content %}
<div>
    <div>
        <ul class="splitColumns">
            {% for test in tests %}
            <li><input type="checkbox" name="test" title="{{test.0}}" id="{{test.0}}">{{test.0}}<br></li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <button onclick="firstTests()" class="btn btn-primary">First Tests</button>
        <button onclick="secondTests()" class="btn btn-primary">Second Tests</button>
        <button onclick="allTests()" class="btn btn-primary">All Required Tests</button>
    </div>
    <button onclick="updateData()" class="btn btn-primary btn-block btn-large">Refresh Plot</button>
</div>

<div id="plot"></div>
<div id="data">
    <table class="table table-bordered table-responsive" align="center" style="width: 95%; font-size: 12px">
                <thead>
                        <tr>
                                <th colspan="1" style="background-color: #7F8C8D; text-align: center; font-size: 16px;"> Cards Incomplete </th>
                                <th colspan="1" style="background-color: #2ECC71; text-align: center; font-size: 16px;"> Cards Passed </th>
                                <th colspan="1" style="background-color: #E74C3C; text-align: center; font-size: 16px;"> Cards Failed </th>
                        </tr>
                </thead>
                <tbody>
            <tr>
                <td id="remCol" ><ul></ul></td>
                <td id="passedCol" ><ul></ul></td>
                <td id="failedCol" ><ul></ul></td>
            </tr>
        </tbody>
    </table>
</div>


<script>
function updateData(){
    boxes = document.getElementsByName('test');
    tests = []
    for (i = 0; i < boxes.length; i++) {
        if(boxes[i].checked){
            tests.push(boxes[i].title);
        }
    }
    console.log(tests)
    getData(tests)
}
</script>
<script>
function firstTests(){
    tests=["Res_1",
           "Res_2",
           "Res_3",
           "Res_4",
           "Res_5",
           "Res_6",
           "Res_7",
           "Res_8",
           "Res_9",
           "Res_10",
           "Res_11",
           "Res_12",
           "Res_13",
           "Res_14",
           "Res_15",
           "Res_16",
           "Program",
           "Vis",
           "SuplCur",
           "Igloo_FPGA_Control",
           ];

    boxes = document.getElementsByName('test');
    for (i = 0; i < boxes.length; i++) {
        boxes[i].checked = false;
    }
    for(var i = 0; i < tests.length; i++){
        document.getElementById(tests[i]).checked = true;
    }
    updateData();
}

function secondTests(){
    notTests=[
              "Res_1",
              "Res_2",
              "Res_3",
              "Res_4",
              "Res_5",
              "Res_6",
              "Res_7",
              "Res_8",
              "Res_9",
              "Res_10",
              "Res_11",
              "Res_12",
              "Res_13",
              "Res_14",
              "Res_15",
              "Res_16",
              "Program",
              "Vis",
              "SuplCur",
              "overall phase scan",
              "ClockCnt",
              "QIECount",
              "WTECount",
              "Igloo_FPGA_Control",
             ];

    boxes = document.getElementsByName('test');
    for (i = 0; i < boxes.length; i++) {
        boxes[i].checked = true;
    }
    for(var i = 0; i < notTests.length; i++){
        document.getElementById(notTests[i]).checked = false;
    }
    updateData();
}
function allTests(){
    notTests=[{% for test in tests %}{% if not test.required %}
                "{{test.abbreviation}}",{% endif %}{% endfor %}
            ];

    boxes = document.getElementsByName('test');
    for (i = 0; i < boxes.length; i++) {
        boxes[i].checked = true;
    }
    for(var i = 0; i < notTests.length; i++){
        document.getElementById(notTests[i]).checked = false;
    }
    updateData();
}

firstTests()
</script>
{% endblock %}